.background{
    height: 100vh;
    overflow-y: auto; /* Habilita el desplazamiento vertical */
    display: flex;
    background-image: url('../../../assets/image17.png');
    background-size: cover;
}
.container1{
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container2{
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    margin-top: 7.5vh;
    font-family: 'Roboto', sans-serif;
    font-size: 6.5vw;
    letter-spacing: 0.3vw;
    color: white;
    padding-bottom: 3vh;

}
.img {
    width: 30vw;
    height: auto;
    margin-bottom: 4vh;
    margin-top: 8vh;
}
.textCube{
    width: 85%;
}

.text {
    font-family: 'Andale Mono', sans-serif;
    font-weight: 300;
    text-align: justify;
    color: white;
    font-size: 0.86vw;
    line-height: 2;
}

.text2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: white;
    font-size: 2vw;
    padding-top: 4vh;
    padding-bottom: 1vh;
}
.text3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: white;
    font-size: 2vw;
    padding-left: 3vw;
}

.color{
    color: deeppink;
}

@media (max-width: 950px) {
    .container1{
        display: none;
    }

    .container2{
        width: 85%;
        height: 100vh;
    }

    .background{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .title{
        font-size: 20vw;
    }

    .text{
        font-size: 3vw;
    }

    .text2{
        font-size: 6vw;
    }

    .text3{
        font-size: 6vw;
        padding-left: 10vw;
        padding-bottom: 10vw;
    }
}
